            @import url('https://fonts.googleapis.com/css?family=Poppins');
            .medio {
                background: linear-gradient(to right, green 50%, Gray 50%);
            }
            
            .align {
                text-align: center;
                float: left;
            }
            
            table,
            td {
                border: 1px solid black;
            }
            
            .clase1 {
                font-size: 13px;
                text-align: center;
                float: left;
                border: solid gray 1px;
            }
            
            .cont {
                float: left;
                width: 14.20%;
            }
            
            .contbot {
                color: red;
            }
            
            .cont2 {
                float: left;
                width: 20%;
            }
            
            .cont3 {
                float: left;
                width: 20%;
            }
            
            .cont4 {
                float: left;
                width: 20%;
            }
            
            .cont5 {
                float: left;
                width: 20%;
            }
            
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .topnav {
                overflow: hidden;
                background-color: #333;
            }
            
            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            
            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }
            
            .topnav a.active {
                background-color: #4CAF50;
                color: white;
            }
            
            .box1 {
                padding: 5px;
                border: solid gray 1px;
                width: 60%;
                box-shadow: 6px 6px 0 rgba(128, 83, 35, .2);
                background-color: moccasin;
                margin: 0 auto;
                margin-top: 15px;
            }
            
            .texto1 {
                font-weight: bold;
                font-family: 'Poppins';
                font-size: 1.5rem;
            }
            
            .texto2 {
                font-family: 'Poppins';
                font-size: 1.4rem;
            }
            
            .texto3 input {
                background-color: slategrey;
                font-family: 'Poppins';
                border: none;
                width: 20%;
                text-align: center;
                font-size: 1.4rem;
                color: white;
                font-weight: bold;
            }
            
            .fix {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
            }
            
            .button1 {
                background-color: slategrey;
                font-family: 'Poppins';
                border: none;
                width: 10%;
                text-align: center;
                font-size: 1.4rem;
                color: white;
                font-weight: bold;
            }
            
            .button2 {
                background-color: slategrey;
                font-family: 'Poppins';
                border: none;
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                color: white;
                font-weight: bold;
            }
            
            .button3 {
                background-color: slategrey;
                font-family: 'Poppins';
                border: none;
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                color: white;
                font-weight: bold;
                height: 100%;
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }